* {
    margin: 0;
    padding: 0;
}

.counter {
    background-color: rgb(236, 229, 23);
    color: black;
    padding: 4px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 3px;
    align-items: center;

}