.user-container{
    width: 200px;
    padding: 25px;
    background-color: bisque;
    color: black;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#user-image{
    height:50%;
    width: 80%;
    border-radius: 50%;
}