*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
.product-tab{
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
